[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
praw = "*"
pyttsx3 = "*"
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}
moviepy = "*"

[requires]
python_version = "3.7"
